* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body{
    background-image: url(./assets/bg.png);
   
}
.you{
    height: 460px;
    width: 500px;
    border: 2px solid gold;
    color: white;
    text-align: center;
    
} 
h3{
    margin-top: 1px;
    font-size: 27px;
}
#def{
    width: 460px;
    height: 200px;

}
.youb{
    width: 460px;
    height: 276px;
}
#logo{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#you-paper-img,#you-rock-img,#you-scissors-img,#comp-scissors-img,#comp-paper-img,#comp-rock-img{
    display: none;
}

.logo-img{
    max-width: 100%;
    max-height: 100%;
}

#rock-logo,#paper-logo,#scissors-logo {
    cursor: pointer;
}

.youa{
    height: 290px;
    width: 460px;
    
}
.section {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}
#vs{
    height: 500px;
}
#score{
    padding: 50px;
    color: aliceblue;
    font-size: 75px;
    text-align: center;
}

#heading1{
    margin-top: 50px;
    color: rgb(90, 37, 192);
    font-size: 70px;
    text-align: center;
    font-style: italic;

}

#heading2{
    color: aliceblue;
    font-size: 47px;
    padding: 6px;
}


#playthegame{
    margin-top: 370px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.outer-section{
    margin-top: 100px ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 571px;
}


#play-pause{
    width: 70px;
    margin-right: 40px;
}

#game-img {
    margin-left: 150px;
}

.play-again{
    color: aliceblue;
}
.over{
    display: none;
    position: absolute;
    top: 900px;
    left: 0;
    width: 100%;
    height: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#result{
    font-size: 42px;
    letter-spacing: 3px;
    margin: 15px 0 0 0; 
    color: aliceblue;
}

.active{
    display: flex;
}

#player{
    color: #fff;
}
#reset-game{
    padding: 10px;
    background-color: #ce9504;
    border-radius: 10px;
    margin-left: 5px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    font-family: inherit;
    color: white;
}